@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  overscroll-behavior: contain;
  user-select: none;
}

@font-face {
  font-family: 'SF Sports Night';
  src: url('/fonts/SF Sports Night.ttf');
}

@font-face {
  font-family: 'SF Sports Night NS';
  src: url('/fonts/SF Sports Night NS.ttf');
}
@font-face {
  font-family: 'rockwell nova';
  src: url(https://fonts.cdnfonts.com/s/14413/RockwellNova.woff) format('woff')
}
@font-face {
  font-family: "futura-pt";
  src: url("https://use.typekit.net/af/309dfe/000000000000000000010091/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff2"), url("https://use.typekit.net/af/309dfe/000000000000000000010091/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff"), url("https://use.typekit.net/af/309dfe/000000000000000000010091/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("opentype");
  font-display: auto;
  font-style: normal;
  font-weight: 700;
  font-stretch: normal;
}